@import '/styles/_variables';


.floatingAlert {
    .videoHolder {
        position: absolute;
        z-index: 5;
        width: 465px;
        height: 300px;
        top: 20px;
        left: 20px;
    }

    .video {
        height: 100%;
    }

    .border {
        position: absolute;
        z-index: 10;
    }
}

.floatingAlert {
    position: relative;
    width: 100vw;
    height: 100vh;

}