
@use '/styles/_variables' as *;

.overlay {
    .twitchStatus {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
        pointer-events: none;
        img {
            width: 40px;
            animation: blink 3s infinite;
        }
    }



    .belowSpace {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 808080;

        button {
            width: 100px;
            height: 100px;
            background-color: red;
            border: 0;
            opacity: 0;
        }
    }

    .menuWindow {
        position: absolute;
        top:0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .menuContent {
            background-color: $blue_3;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position: relative;
            text-align: center;

            button {
                padding: 10px;
                outline: none;
                border: none;
                font-size: 20px;
                margin: 5px;

                &.closeMenu {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -15px;
                    top: -15px;
                    background-color: $gold_orange;
                    border-radius: 10px;
                }

                &.testButton {
                    background-color: aqua;
                }
            }

            .inputSpace {
                margin-top: 15px;
                textarea {
                    width: 800px;
                    height: 200px;
                    font-size: 30px;
                }
            }
        }
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}