
@use '/styles/_variables' as *;

.overlay {
    .twitchStatus {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
        pointer-events: none;
        img {
            width: 40px;
            animation: blink 3s infinite;
        }
    }

    .testButton {
        position: absolute;
        z-index: 10000;
        background-color: aqua;
    }

    .startButton {
        /* width: 100vw;
        height: 100vh; */
        position: absolute;
        z-index: 100;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        position: absolute;
        bottom: 10px;
        right: 10px;
        div {
            width: 70px;
            height: 70px;
            background-color: $blue_2;
            color: $blue_2;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 16px;
        }
    }

    .belowSpace {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 808080;

        button {
            width: 100px;
            height: 100px;
            background-color: red;
            border: 0;
            opacity: 0;
        }
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}